body {
    text-align: center;
    margin: 0px;
    height:100vh;
     background-color: rgb(42, 42, 42);
     color: white;
}
header{
    border-bottom: black 2px solid ;
    display: flex;
 
    justify-content: space-evenly;
    align-items: center;
    // background-color: rgb(247, 228, 187);
    #user-div{
        display: flex;
        flex-direction: row;
    }

}
.bp-button{
    font-size: 24px;
}
#index-page{
   
    display: grid;
}

td{
    
    text-align: start;
    align-self:start;
    justify-items: start;
 
     border:  black solid;
     border-width :0  1px 0 0;
}
#book-page{
    display: grid; 
   grid-template-columns: 1fr 1fr;
    // border: 2px black solid;
    padding: 10px;

    #book-right{
        text-align: left;
    }
}
.dark{
    background-color: rgb(42, 42, 42);
    color: white;
  }

.light{
    color: black;
    background-color: aliceblue;

    #book-page{

        div{
            p{

            }
        }
    }
}

.remove-button{
    background-color: rgb(163, 1, 1);
    color: white;
    border-radius: 2rem;
}

#bp-author{
    color: rgb(177, 177, 177);
    font-weight: bold;
    font-size: 32;
}
#all-books{
    
    display: flex;
    flex-wrap: wrap;
   
    justify-content: flex-start;

    div{
        // border: black solid 1px;
        margin: 1rem;
       
    }

    img{
        height: 240px;
    }
}
#profile-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 20px;
}





#entry {
    display: grid;
    border: black solid 2px;

    margin: auto;
   

}
#reading-list,#rated-list{
    padding: 30px;
    // text-align: left;
    // background-color: rgba(246, 245, 245, 0.234);
}


.container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.buttons {

    margin: auto;
}

.buttons button {
    margin: auto;
    margin: 10px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
/* img{
  
} */
.login-register {
    font-size: 32px;
    margin: auto;
}

input[type='text'],
input[type='password'] {
    text-align: center;
    font-size: 24px;
}

#logout-button,#login-button {
    /* position: absolute;
    right: 10px;
    top: 10px; */
    padding: 10px;
    font-size: 24px;
    border-radius: 16px;
    border-color: rgb(255, 165, 127);
}



#rated-list-title{
    button{
background-color:rgba(0, 255, 255, 0.003);
border-width: 0 0 1px 0;
    }
}
table{
    
        thead{
        border: black solid 2px;
        //  border-color: black;
        //  border-width: 10px 0px 13px 0px;
        //  border-style: solid;
         
         padding: 10px;
         margin: 10px;
         th:hover{
            cursor:pointer
         }
     }

}

/* input */
/* .container {
    min-height: 300px;
    max-width: 400px;

    gap: 10px;
    column-gap: 10px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 25px 70px;
    margin: auto;
    grid-template-areas:
        "Login Register"
        "Name Name"
        "Mail Mail"
        "Password Password"
        "login-register login-register";
}

.Login {
    grid-area: Login;
    margin: 10px;
}

.Register {
    grid-area: Register;
    margin: 10px;
}

.Name {
    grid-area: Name;
    font-size: 30px;
    height: 34px;
}

.Mail {
    grid-area: Mail;
    font-size: 30px;
    height: 34px;
}

.Password {
    grid-area: Password;
    font-size: 30px;
    height: 34px;
}

.login-register {
    grid-area: login-register;
} */

@media screen and ( max-width: 768px){
    #profile-page{
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        
        gap: 20px;

        #reading-list,#rated-list{
            display: grid;
            justify-content: center;
        }
    }
    
    #book-cover{
        img{
            max-width: 90%;
        }
    }
}