@charset "UTF-8";
body {
  text-align: center;
  margin: 0px;
  height: 100vh;
  background-color: rgb(42, 42, 42);
  color: white;
}

h1 {
  font-size: 36px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  border-bottom: black 2px solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header #user-div {
  display: flex;
  flex-direction: row;
}

.bp-button {
  font-size: 24px;
}

#index-page {
  display: grid;
}

#book-page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 10px;
}
#book-page #book-right {
  text-align: left;
}

.dark {
  background-color: rgb(42, 42, 42);
  color: white;
}

.light {
  color: black;
  background-color: aliceblue;
}
#add-reading, #submit-score {
  border-radius: 12px;
  background-color: transparent;
  border-color: orange;
  min-width: 200px;
  max-width: 300px;
  width: 100%;
}

.remove-button {
  background-color: rgb(163, 1, 1);
  color: white;
  border-radius: 2rem;
}

#bp-author {
  color: rgb(177, 177, 177);
  font-weight: bold;
  font-size: 24px;
}

#all-books {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#all-books div {
  margin: 1rem;
}
#all-books img {
  height: 240px;
}

#profile-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 20px;
}

#entry {
  display: grid;
  border: black solid 2px;
  margin: auto;
}

#reading-list, #rated-list {
  padding: 30px;
}

.container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.buttons {
  margin: auto;
}

.buttons button {
  margin: auto;
  margin: 10px;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

/* img{

} */
.login-register {
  font-size: 32px;
  margin: auto;
}

input[type=text],
input[type=password] {
  text-align: center;
  font-size: 24px;
}

#logout-button, #login-button {
  /* position: absolute;
  right: 10px;
  top: 10px; */
  padding: 10px;
  font-size: 24px;
  border-radius: 16px;
  border-color: rgb(255, 165, 127);
}

#rated-list-title button {
  background-color: rgba(0, 255, 255, 0.003);
  border-width: 0 0 1px 0;
}

table thead {
  border: black solid 2px;
  padding: 10px;
  margin: 10px;
}
table thead th {
  border: black 1px solid;
  padding: 0.5rem;
}
table thead th:hover {
  cursor: pointer;
}
table td {
  text-align: start;
  justify-items: start;
  padding: 5px;
  border: black solid;
  border-width: 0 1px 0 0;
}
table td img {
  cursor: pointer;
}

/* input */
/* .container {
    min-height: 300px;
    max-width: 400px;

    gap: 10px;
    column-gap: 10px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 25px 70px;
    margin: auto;
    grid-template-areas:
        "Login Register"
        "Name Name"
        "Mail Mail"
        "Password Password"
        "login-register login-register";
}

.Login {
    grid-area: Login;
    margin: 10px;
}

.Register {
    grid-area: Register;
    margin: 10px;
}

.Name {
    grid-area: Name;
    font-size: 30px;
    height: 34px;
}

.Mail {
    grid-area: Mail;
    font-size: 30px;
    height: 34px;
}

.Password {
    grid-area: Password;
    font-size: 30px;
    height: 34px;
}

.login-register {
    grid-area: login-register;

} */
#book-left button {
  margin: 0.8rem;
}
#book-left #book-cover div button {
  margin: 3rem;
}
#book-left #book-cover div img {
  border-radius: 16px;
  width: 300px;
  max-width: 90%;
  box-shadow: 4px 4px rgba(184, 121, 5, 0.358);
}

.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  font-family: Times;
  line-height: 1;
}
.rating input {
  display: none;
}
.rating input:checked ~ label:before {
  opacity: 1;
}
.rating label {
  position: relative;
  width: 1.1em;
  font-size: 36px;
  color: #ffab02;
  cursor: pointer;
}
.rating label::before {
  content: "★";
  position: absolute;
  opacity: 0;
}
.rating label:hover:before {
  opacity: 1 !important;
}
.rating label:hover ~ label:before {
  opacity: 1 !important;
}

@media screen and (max-width: 768px) {
  #profile-page {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    gap: 20px;
  }
  #profile-page #reading-list, #profile-page #rated-list {
    display: grid;
    justify-content: center;
  }
  #book-cover div img {
    max-width: 90%;
  }
  #book-page {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
  }
  #book-page #book-right {
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */